@font-face {
    font-family:'Roboto-Light';
    src: url(../fonts/RobotoCondensed-Light.ttf); 
}

@font-face {
    font-family:'PlayfairDisplay';
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

:root {
    --main-font: Roboto-Light, sans-serif;
    --secondary-font:PlayfairDisplay, sans-serif;
    --main-color:#413f3f;;
    --main-link-color:#413f3f;
    --main-background-color:#ffc68bff;
}

body {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:var(--main-font);
    color:var(--main-color);
    background-color:var(--main-background-color);
}

a {
    text-decoration: none;
    color:var(--main-link-color);
    font-family: var(--secondary-font);
}

a:hover {
    text-decoration: underline;
}


.cart {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding:8%;
    margin-left: -20040px;
}

.cart img {
    width:100%;
    max-width:45px;
}

.cart a{
    margin: 8px;
    font-size:1.2rem;
}

.logo > a > img {
    width:60%;
    display:block;
    margin: -100px auto;
}

.sub-header {
    text-align:center;
    color:var(--main-color);
    font-size:2.9rem;
    margin-top: -20px;
    font-family:var(--main-font);
}

.grid{
    display: grid;
    grid-template-columns: 0.2fr 0.2fr;
    grid-gap: 40px;
}

.images-main img {
    clip-path: inset(1% 0 2% 0);
    max-width: 100%;
    width: 100%;
    height: 100%;
}
  
.transition {
    transition: 400ms ease;
}
  
.images-main  {
    position: relative;
    display: block;
    width: 400px;
}
  
.images-main  a {
    color: white;
}

  
.overlay {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
  
.images-main h3 {
    position: relative;
    transition: .5s;
    left:500px;
    font-size:2rem;
    margin: 20px;
}

.images-main img:hover{
    filter: blur(5px);
}
  
.images-main  a:hover .overlay {
    opacity: 1; 
}
  
.images-main  a:hover h3 {
    left: 0 !important;
}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.nav li{
    display:inline;
}

.nav a{
    display:inline-block;
    padding:40px;
    font-size: 2rem;
}

.footer {
    text-align: center;
}

  .social-wrapper ul li {
    display: inline;
}
  
  .twitter-icon,
  .facebook-icon,
  .instagram-icon {
    width: 90px;
}
  
  .footer-nav a { 
    margin-right: -90px;
    font-family: var(--main-font);
    color:var(--main-color);
}


/* Media Queries */

@media only screen and (max-width: 500px) {
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }

    .grid{
        grid-template-columns: 1fr;
        margin-left:110px;
    }

    .images-main img {
        max-width: 200%;
        width: 70%;
        height: 100%;
    }

    .logo{
        margin-top: 60px;
        width: 100%;
        margin-right: 600px;
    }

    .sub-header{
        font-size: 1rem;
        margin-top: 50px;
    }

    .cart img{
        width: 80%;
    }

    .twitter-icon,
    .facebook-icon,
    .instagram-icon{
        width: 10%;
    }

    .footer-nav{
        font-size: 1.4rem;
        margin-left:-60px;
    }


}

@media only screen and (min-width: 600px){
      
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    
    .cart img {
        max-width:50px;
    }
    
    .cart a{
        font-size:1rem;
    }
            
    .logo > a > img {
        width:70%;
        display:block;
        margin: -10px auto;
    }
    
    .sub-header{
        font-size: 1.6rem;
        margin-top: -36px;
    }
    
    .nav a{
        display:inline-block;
        padding:15px;
        font-size: 1rem;
    } 
    
    .grid{
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-left:165px;
    }
    
    .images-main img {
        max-width: 70%;
        width: 100%;
        height: 100%;
    }
    
    .images-main h3{
        font-size: 1.5rem;
    }
    
    .nav a {
       font-size: 1rem;
    }
    
    .twitter-icon,
    .facebook-icon,
    .instagram-icon {
        width: 25px;
        margin-right: 26px;
    }
    
    .footer-nav { 
        margin-right: 30px;
        font-size:0.7rem;
    }
    
    }
    
    @media only screen and (min-width: 768px){
            
    html,body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    
    .cart img {
        max-width:30px;
    }
    
    .cart a{
        font-size:0.9rem;
    }
    
    .logo > a > img {
        margin: -45px auto;
    }
    .sub-header{
        font-size: 1.9rem;
        margin-top: -46px;
    }
    
    .nav a{
        margin-top: 30px;
       font-size: 1.4rem;
    } 
    
    .grid{
        grid-template-columns: 1fr 1fr; 
        margin-left: 40px;  
    }
    
    .images-main img {
        max-width: 70%;
        width: 100%;
        height: 100%;
    }
    
    .twitter-icon,
    .facebook-icon,
    .instagram-icon {
        width: 30px;
        margin-right: 26px;
    }
    
    }
    
    @media only screen and (min-width: 992px){
        html,body{
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden; 
        }
    
        .cart img {
            max-width:50px;
        }
        
        .cart a{
            font-size:1.7rem;
        }
        
        .logo > a > img {
            margin: -45px auto;
        }
    
        .sub-header{
            font-size: 2.6rem;
            margin-top: -68px;
        }
        
        .nav a{
            margin-top: 30px;
            font-size: 2.3rem;
        } 
        
        .grid{
            grid-template-columns: 1fr 1fr; 
            margin-left: 55px;  
        }
    
        .images-main h3{
            font-size: 2.8rem;
        }
        
        .images-main img {
            max-width: 200%;
            width: 100%;
            height: 100%;
        }
        
        .twitter-icon,
        .facebook-icon,
        .instagram-icon {
            width: 44px;
            margin-right: 26px;
        }
    
        .footer-nav{
            font-size:1.7rem;
        }
        
    }
    
    
    @media only screen and (min-width: 1200px){
        
        .cart{
            margin-top:-50px;
        }

        .cart img {
            max-width:45px;  
        }
        
        .cart a{
            font-size:1.4rem;
        }
        
        .logo > a > img {
            margin: -120px auto;
        }
    
        .sub-header{
            font-size: 2.4rem;
            margin-top: -46px;
        }
        
        .nav a{
            margin-top: 30px;
           font-size: 1.4rem;
        } 
        
        .grid{
            grid-template-columns: 1fr 1fr; 
            grid-gap: 10px;
            margin-left: 130px;  
        }
        
        .images-main img {
            max-width: 200%;
            width: 120%;
            height: 100%;
        }
    
        .images-main h3{
            font-size: 3.5rem;
        }
        
        .nav a {
           font-size: 1.9rem;
           padding: 50px;
        }
        
        .twitter-icon,
        .facebook-icon,
        .instagram-icon {
            width: 45px;
            margin-right: 26px;
        }
        
        .footer-nav { 
            margin-right: 90px;
            font-size:1rem;
        }
     
    }
    
    @media only screen and (min-width: 1440px){
            
    .cart img {
        max-width:60px;
    }
    
    .cart a{
        font-size:1.8rem;
    }
    
    .logo > a > img {
        margin: -130px auto;
    }
    
    .sub-header{
        font-size: 3rem;
        margin-top: -46px;
    }
    
    .nav a{
       padding: 40px;
       margin-top: 30px;
       font-size: 2rem;
    } 
    
    .grid{
        grid-template-columns: 1fr 1fr; 
        margin-left: 170px; 
    }
    
    .images-main img {
        max-width: 200%;
        width: 120%;
        height: 100%;
    }
    
    .twitter-icon,
    .facebook-icon,
    .instagram-icon {
        width: 60px;
        margin-right: 26px;
    }
    
    .images-main h3 {
        font-size:3.8rem;
    }
    
    .nav a{
        font-size: 2.5rem;
    }
    
    .footer-nav { 
        font-size:1.6rem;
    }
    
    }

    @media only screen and (min-width:2560px){
        html,body{
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            overflow-x: hidden; 
        }

        .logo > a > img {
            margin: -200px auto;
        }
        
        .cart{
            padding-top: 60px;

        }
        .cart img {
            max-width:90px;
        }
        
        .cart a{
            font-size:2rem;
        }
        
        .sub-header{
            font-size: 5rem;
            margin-top: -90px;
        }
        
        .nav a{
           padding: 40px;
           margin-top: 30px;
           font-size: 2rem;
        } 
        
        .grid{
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            margin-left: 170px; 
        }
        
        .twitter-icon,
        .facebook-icon,
        .instagram-icon {
            width: 80px;
            margin-right: 26px;
        }
        
        .images-main h3 {
            font-size:3.8rem;
        }
        
        .nav a{
            font-size: 3.2rem;
            padding:80px;
        }
        
        .footer-nav { 
            font-size:2rem;
            margin-right:80px;
        }
    }
    
    